*{
    margin:0px;
    padding:0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div img{
    object-fit: cover;
    object-position: center;
    height: 50vh;
    border-radius: 50%;
}

div{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

h4{
    padding: 20px;
}